 .upload-area:hover,
      body {
        background-color: var(--background-one);
      }
      h1 .fa-compress-arrows-alt,
      select {
        margin-right: 10px;
      }
      h2 {
        font-size: 1.5rem;
        margin: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: var(--background-two);
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        min-height: 500px;
      }
      .upload-area,
      h2 {
        text-align: center;
      }
      .upload-area {
        border: 2px dashed var(--color-three);
        border-radius: 8px;
        padding: 20px;
        cursor: pointer;
      }
      #fileInput {
        display: none;
      }
      .option-row,
      .options,
      .upload-area {
        margin-bottom: 20px;
      }
      .option-row {
        display: flex;
        align-items: center;
      }
      .option-label {
        width: 70px;
        text-align: left;
        margin-right: 10px;
        flex-shrink: 0;
      }
      .output-controls {
        display: flex;
        align-items: center;
      }
      select {
        padding: 8px;
        background-color: var(--background-one);
        color: var(--text-color);
        border: 1px solid var(--color-three);
        border-radius: 4px;
        -webkit-appearance: none;
        appearance: none;
      }
      #saveToButton:disabled {
        background-color: var(--color-two);
        width: 30%;
        margin-left: 40px;
        cursor: not-allowed;
      }
      #saveToButton {
        width: 30%;
        margin-left: 40px;
      }
      #compressBtn {
        position: relative;
        width: 100%;
      }
      .slider-container {
        display: flex;
        align-items: center;
        width: 100%;
      }
      .value-input {
        width: 60px;
        text-align: center;
        margin-right: 10px;
        background-color: var(--background-one);
        color: var(--text-color);
        border: 1px solid var(--color-three);
        border-radius: 4px;
        padding: 5px;
      }
      .slider-wrapper {
        flex-grow: 1;
        position: relative;
        height: 16px;
        display: flex;
        align-items: center;
      }
      .slider {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        background: var(--color-two);
        outline: 0;
        margin: 0;
        padding: 0;
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: var(--color-three);
        cursor: pointer;
        border-radius: 50%;
        position: relative;
        z-index: 3;
      }
      .slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: var(--color-three);
        cursor: pointer;
        border-radius: 50%;
        position: relative;
        z-index: 3;
      }
      .slider-fill {
        position: absolute;
        top: 50%;
        left: 0;
        height: 4px;
        background-color: var(--color-three);
        pointer-events: none;
        transform: translateY(-50%);
        z-index: 3;
      }
      #result,
      .image-preview {
        margin-top: 20px;
      }
      .image-preview {
        display: flex;
        justify-content: space-between;
      }
      .image-preview img {
        max-width: 45%;
        height: auto;
      }
      .supported-formats {
        text-align: center;
        margin-top: 20px;
        font-style: italic;
      }
      .value-input::-webkit-inner-spin-button,
      .value-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .value-input {
        appearance: textfield;
        -moz-appearance: textfield;
      }
      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 1px, 1px);
        white-space: nowrap;
        border: 0;
      }