<nav class="navbar" aria-label="Navigazione principale">
  <div class="navbar-container">
    <a href="/" class="logo-link"><img src="/icons/codedge-logo.svg" alt="Logo codedge" class="logo" width="80" height="35"></a><span class="navbar-title resize-text">{{TITLE}}</span>
    <div class="menu-icon">
      <span class="bar"></span> <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul id="nav-menu" class="nav-menu">
      <li class="nav-item">
        <a href="/" class="nav-link"><i class="fas fa-home" aria-hidden="true"></i>Home</a>
      </li>
      <li class="nav-item">
        <a href="/risorse/" class="nav-link"><i class="fas fa-book" aria-hidden="true"></i>Risorse</a>
      </li>
      <li class="nav-item">
        <a href="/strumenti/" class="nav-link"><i class="fas fa-tools" aria-hidden="true"></i>Strumenti</a>
      </li>
      <li class="nav-item">
        <a href="/componenti-ui/" class="nav-link"><i class="fas fa-project-diagram" aria-hidden="true"></i>Componenti UI</a>
      </li>
      <li class="nav-item">
        <a href="/tutorial/" class="nav-link"><i class="fas fa-graduation-cap" aria-hidden="true"></i>Tutorial</a>
      </li>
      <li class="nav-item">
        <a href="/template/" class="nav-link"><i class="fas fa-store" aria-hidden="true"></i>Template</a>
      </li>
    </ul>
  </div>
</nav>
