
<body>
  <ul id="nav-menu" class="nav-menu">
    <li class="nav-item">
      <a href="/" class="nav-link" aria-current="page"><i class="fas fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <li class="nav-item">
      <a href="/risorse/" class="nav-link"><i class="fas fa-book" aria-hidden="true"></i>Risorse</a>
    </li>
    <li class="nav-item">
      <a href="/strumenti/" class="nav-link"><i class="fas fa-tools" aria-hidden="true"></i>Strumenti</a>
    </li>
    <li class="nav-item">
      <a href="/progetti-pratici/" class="nav-link"><i class="fas fa-project-diagram" aria-hidden="true"></i>Progetti
        Pratici</a>
    </li>
    <li class="nav-item">
      <a href="/percorsi-apprendimento/" class="nav-link"><i class="fas fa-graduation-cap"
          aria-hidden="true"></i>Percorsi
        Apprendimento</a>
    </li>
  </ul>
